QL_SinhVien.Data/bin/Debug/netcoreapp3.1/QL_SinhVien.Data.pdb
Ql_SinhVien.sln
*.config
*.suo
*.csproj
*.props
*.targets
*.cache
*.pdb
QL_SinhVien.Data/bin/Debug/netcoreapp3.1/QL_SinhVien.Data.deps.json
QL_SinhVien.Data/bin/Debug/netcoreapp3.1/QL_SinhVien.Data.dll
QL_SinhVien.Data/bin/Debug/netcoreapp3.1/QL_SinhVien.Data.runtimeconfig.dev.json
QL_SinhVien.Data/bin/Debug/netcoreapp3.1/QL_SinhVien.Data.runtimeconfig.json
Ql_SinhVien/appsettings.Development.json
QL_SinhVien.Data/Migrations/QL_SinhVienDBContextModelSnapshot.cs
QL_SinhVien.Data/obj/project.assets.json
QL_SinhVien.Data/obj/QL_SinhVien.Data.csproj.nuget.dgspec.json
QL_SinhVien.Data/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
QL_SinhVien.Data/obj/Debug/netcoreapp3.1/QL_SinhVien.Data.AssemblyInfo.cs
QL_SinhVien.Data/obj/Debug/netcoreapp3.1/QL_SinhVien.Data.csproj.FileListAbsolute.txt
QL_SinhVien.Data/obj/Debug/netcoreapp3.1/QL_SinhVien.Data.dll
QL_SinhVien.Data/obj/Debug/netcoreapp3.1/QL_SinhVien.Data.GeneratedMSBuildEditorConfig.editorconfig
QL_SinhVien.Service/bin/Debug/netcoreapp3.1/QL_SinhVien.Data.dll
QL_SinhVien.Service/bin/Debug/netcoreapp3.1/QL_SinhVien.Service.deps.json
QL_SinhVien.Service/bin/Debug/netcoreapp3.1/QL_SinhVien.Service.dll
QL_SinhVien.Service/bin/Debug/netcoreapp3.1/QL_SinhVien.Service.runtimeconfig.dev.json
QL_SinhVien.Service/bin/Debug/netcoreapp3.1/QL_SinhVien.Service.runtimeconfig.json
QL_SinhVien.Service/obj/project.assets.json
QL_SinhVien.Service/obj/QL_SinhVien.Service.csproj.nuget.dgspec.json
QL_SinhVien.Service/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
QL_SinhVien.Service/obj/Debug/netcoreapp3.1/QL_SinhVien.Service.AssemblyInfo.cs
QL_SinhVien.Service/obj/Debug/netcoreapp3.1/QL_SinhVien.Service.csproj.CopyComplete
QL_SinhVien.Service/obj/Debug/netcoreapp3.1/QL_SinhVien.Service.csproj.FileListAbsolute.txt
QL_SinhVien.Service/obj/Debug/netcoreapp3.1/QL_SinhVien.Service.dll
QL_SinhVien.Service/obj/Debug/netcoreapp3.1/QL_SinhVien.Service.GeneratedMSBuildEditorConfig.editorconfig
Ql_SinhVien/bin/Debug/netcoreapp3.1/appsettings.Development.json
Ql_SinhVien/bin/Debug/netcoreapp3.1/appsettings.json
Ql_SinhVien/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
Ql_SinhVien/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
Ql_SinhVien/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
Ql_SinhVien/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
Ql_SinhVien/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
Ql_SinhVien/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
Ql_SinhVien/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
Ql_SinhVien/bin/Debug/netcoreapp3.1/Ql_SinhVien.deps.json
Ql_SinhVien/bin/Debug/netcoreapp3.1/Ql_SinhVien.dll
Ql_SinhVien/bin/Debug/netcoreapp3.1/Ql_SinhVien.exe
Ql_SinhVien/bin/Debug/netcoreapp3.1/Ql_SinhVien.runtimeconfig.dev.json
Ql_SinhVien/bin/Debug/netcoreapp3.1/Ql_SinhVien.runtimeconfig.json
Ql_SinhVien/bin/Debug/netcoreapp3.1/QL_SinhVien.Service.dll
Ql_SinhVien/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
Ql_SinhVien/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
Ql_SinhVien/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
Ql_SinhVien/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
Ql_SinhVien/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
Ql_SinhVien/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
Ql_SinhVien/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
Ql_SinhVien/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
Ql_SinhVien/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
Ql_SinhVien/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
Ql_SinhVien/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
Ql_SinhVien/obj/project.assets.json
Ql_SinhVien/obj/Ql_SinhVien.csproj.nuget.dgspec.json
Ql_SinhVien/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Ql_SinhVien/obj/Debug/netcoreapp3.1/apphost.exe
Ql_SinhVien/obj/Debug/netcoreapp3.1/Ql_SinhVien.AssemblyInfo.cs
Ql_SinhVien/obj/Debug/netcoreapp3.1/Ql_SinhVien.csproj.CopyComplete
Ql_SinhVien/obj/Debug/netcoreapp3.1/Ql_SinhVien.csproj.FileListAbsolute.txt
Ql_SinhVien/obj/Debug/netcoreapp3.1/Ql_SinhVien.dll
Ql_SinhVien/obj/Debug/netcoreapp3.1/Ql_SinhVien.GeneratedMSBuildEditorConfig.editorconfig
Ql_SinhVien/obj/Debug/netcoreapp3.1/staticwebassets/Ql_SinhVien.StaticWebAssets.xml
